@import "tailwindcss";

:root {
  --background: #FFFCFB;
  --font-color: #000000;
  --orange: #FF925A;
  --blue:#9CE1FF;
  --pink: #F79AD3;
  --green: #DBF4A7;
  --dark-green: #D6FF79;
}



body {
  background: var(--background);
  color: var(--font-color);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.background{
  background-image: url('https://creator.nightcafe.studio/jobs/WWWR0HszcVmAiq7UEiZM/WWWR0HszcVmAiq7UEiZM--1--pr5a8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.orange{
  background-color: var(--orange);
}